.row
  .span12
    .page-header.page-title
      .watch
        = link_to '#', class: "btn" do
          %i.icon-qrcode
          Wizytówka
        = link_to '#', class: "btn" do
          %i.icon-envelope
          Wiadomość
        - if can? :observe, @lecturer
          = link_to @lecturer_decorator.new_friendship_path, class: "btn" do
            %i.icon-eye-open
            Obserwuj
        - if can? :edit, @lecturer
          = link_to basic_info_profile_path, class: "btn" do
            %i.icon-pencil
            = tt("edit_profile", "Edytuj profil")

      %h2 
        .avatar.pull-left
          .cover{ style: "background-image: url('#{@lecturer.picture.url(:thumbnail)}')" }
        = @lecturer_decorator.full_name
    .subnav
      %ul.nav.nav-pills.columns5
        = tab_link :information, @lecturer_decorator.information_path
        = tab_link :timeline, @lecturer_decorator.timeline_path
        = tab_link :repository, '#'
        %li.dropdown
          %a.dropdown-toggle(data-toggle="dropdown" href="#")
            = I18n.t("controllers.profiles.tabs.sections")
            %b.caret
          %ul.dropdown-menu
            %li= link_to "Zalecana literatura", '#'
            %li= link_to "Pozostale materialy dydaktyczne", '#'
            %li= link_to "Sciagi, samouczki", '#'
            %li= link_to "Prezentacje", '#'
            %li= link_to "Linki", '#'
            %li= link_to "Przykladowe projekty i prace domowe", '#'
            %li= link_to "Moje publikacje", '#'

        = tab_link :contact, '#'