.row
  .span12
    .page-header
      %h2= tt("basic_info.page-header.h2", "Podstawowe informacje")
.row
  .span12
    = simple_form_for(self.current_user, url: update_basic_info_profile_path, html: { class: "form-horizontal", method: :put }) do |f|
      .row
        .span6
          = f.input :first_name
          = f.input :last_name
          = f.input :phone
          = f.input :university, input_html: { class: "span4" }
          = f.input :birth_date, start_year: 1930, end_year: 17.years.ago.year
          = f.association :titles, as: :check_boxes
        .span6
          = f.hidden_field :picture_cache
          %ul.thumbnails
            %li.offset2
              .thumbnail= image_tag self.current_user.picture.url(:poster)

          = f.input :picture, as: :file
      .row
        .span12
          = f.input :about, input_html: { rows: 10, class: "span5" }
      .form-actions= f.button :submit, tt("basic_info.form.submit", "Zapisz"), class: "btn btn-primary btn-large"
