.row
  .span12
    .page-header.page-title
      .watch
        - if can? :observe, @user
          = link_to '#', class: "btn" do
            %i.icon-eye-open
            Obserwuj
        - if can? :edit, @user
          = link_to basic_info_profile_path, class: "btn" do
            %i.icon-pencil
            = tt("edit_profile", "Edytuj profil")


      %h2 
        .avatar.pull-left(title="Tadeusz Grabiński")
          .cover
        = @user.full_name
    .subnav
      %ul.nav.nav-pills.columns5
        = tab_link :information
        = tab_link :timeline
        = tab_link :repository
        = tab_link :files
        = tab_link :contact
        
.row
  .span4.offset1
    .page-header
      %h3 Informacje podstawowe:
    %dl.dl-horizontal
      %dt Imię
      %dd= @user.first_name
      %dt Nazwisko
      %dd= @user.last_name
      %dt Telefon
      %dd= @user.phone
      %dt Uczelnia
      %dd= @user.university
      %dt Data urodzenia
      %dd= l @user.birth_date, format: :long
  .span4.offset1
    .page-header
      %h3 O mnie:
    = simple_format @user.about