= render partial: "profiles/header"

.row
  .span3.offset1
    .page-header
      %h3 Zdjęcie

    .thumbnail= image_tag @lecturer.picture.url(:poster)
  .span4
    .page-header
      %h3 Informacje podstawowe:
    %dl.dl-horizontal
      %dt Imię
      %dd= @lecturer_decorator.first_name
      %dt Nazwisko
      %dd= @lecturer_decorator.last_name
      %dt Tytuły
      %dd= @lecturer_decorator.titles
      %dt Telefon
      %dd= @lecturer_decorator.phone
      %dt Uczelnia
      %dd= @lecturer_decorator.university
      %dt Data urodzenia
      %dd= @lecturer_decorator.birth_date
.row
  .span10.offset1
    .page-header
      %h3 O mnie:
    = @lecturer_decorator.about