.row
  .span12
    .page-header
      %h2= tt("screen_name.page-header.h2", "Zostań wykładowcą")
    %p= tt("screen_name.p", "Tutaj musisz podać podstawowe wymagane dane do aktywacji konta wykładowcy.")
    = simple_form_for self.current_user, url: wizard_path, html: { class: "form-horizontal" } do |f|
      = f.hidden_field :become_lecturer, true
      = f.input :first_name
      = f.input :last_name
      = f.input :university
      .form-actions
        = f.submit "Przejdź dalej", class: "btn btn-primary"
        = link_to "Anuluj kreator", root_path, class: "btn"

