= simple_form_for(@access_token, html: { class: "form-horizontal" }) do |f|

  .form-inputs

    = f.input :name
    = f.input :expire_at, :start_year => Time.now.year

  .form-actions
    = f.submit "Wygeneruj", class: "btn btn-primary"
    = link_to "Anuluj", access_tokens_path, class: "btn"
