.item
  = link_to "#", class: "avatar" do
    = image_tag post.user.picture.url(:thumbnail)
  .post
    .details
      - if can? :destroy, stream
        %a.close.have_tooltip{ rel: "tooltip", title: I18n.t("actions.posts.delete", default: "Usuń wpis"), href: timeline_path(screen_name: stream.lecturer.username, id: stream.id) } &times;
      - if stream.lecturer == post.user
        = post.decorator.author
      - else
        = post.decorator.author
        od: 
        = stream.lecturer.decorator.profile_link
    .body= simple_format post.decorator.body
    .feedback
      = link_to "Skomentuj", '#', class: "comments_button"
      \.
      = link_to "Obserwuj", '#', class: "observe_button"
      \.
      = link_to "Link", timeline_path(screen_name: stream.lecturer.username, id: stream.id), target: "_blank"
      dodane
      = post.decorator.created_at
    .comments
      - 0.times do
        .comment
          %button.close &times;
          = link_to "#", class: "avatar" do
            = image_tag "https://secure.gravatar.com/avatar/4e84843ebff0918d72ade21c6eesb1e4?size=32"
          .body
            = link_to "macbury", '#', class: "author"
            Cechy to je jasne nie?
            .actions
              2 godziny temu
      %form
        %textarea{ rows: 1, placeholder: "Napisz komentarz..." }
  .clear