.item
  = link_to "#", class: "avatar" do
    = image_tag post.user.picture.url(:thumbnail)
  .post
    .details
      - if can? :destroy, stream
        %a.close.have_tooltip{ rel: "tooltip", title: I18n.t("actions.posts.delete", default: "Usuń wpis"), href: timeline_path(screen_name: stream.lecturer.username, id: stream.id) } &times;
      - if stream.lecturer == post.user
        = post.decorator.author
      - else
        = post.decorator.author
        u wykładowcy: 
        = stream.lecturer.decorator.profile_link
    .body= simple_format post.decorator.body
    .feedback
      = link_to "Skomentuj", '#', class: "comments_button"
      \.
      = link_to "Link", timeline_path(screen_name: stream.lecturer.username, id: stream.id), target: "_blank"
      dodane
      = post.decorator.created_at
    .comments
      = render partial: post.comments
      .commentable_form= render partial: "comments/form", locals: { comment: Comment.new, commetable: post, lecturer: stream.lecturer }
  .clear