!!! 5
%html(lang="pl")
  %head
    %meta(charset="utf-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= content_for?(:title) ? yield(:title) : "E-Wykładowca"
    = csrf_meta_tags
    
    = stylesheet_link_tag "application", :media => "all"

  %body{ class: ["controller_#{controller.controller_name}", "action_#{controller.action_name}"].join(" ") }
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.btn.btn-navbar(data-toggle="collapse" data-target=".nav-collapse")
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand.pull-left(href="#") 
            %i.icon-leaf
            E-Wykładowca
          .nav-collapse
            %form.navbar-search.pull-left
              %input.search-query( type="text" placeholder="Szukaj..." )
            %ul.nav.pull-right
              %li= link_to "Utwórz konto", '#', style: "color: #48FF00"
              %li= link_to "Przeglądaj", '#'        
              %li= link_to "Oferta", '#'
              %li= link_to "Logowanie", '#'
    .container
      .row
        .span12
          .page-header.page-title
            .watch
              = link_to '#', class: "btn" do
                %i.icon-eye-open
                Obserwuj

            %h2 
              .avatar.pull-left(title="Tadeusz Grabiński")
                .cover
              Tadeusz Grabiński
          .subnav
            %ul.nav.nav-pills.columns5
              %li.active= link_to "Tablica", '#'
              %li= link_to "Informacje podstawowe", '#'
              %li= link_to "Wykłady", '#'
              %li= link_to "Pliki", '#'
              %li= link_to "Kontakt", '#'
      = yield

    = javascript_include_tag "https://maps.googleapis.com/maps/api/js?sensor=false"
    = javascript_include_tag "application"
