!!! 5
%html(lang="pl")
  %head
    %meta(charset="utf-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= content_for?(:title) ? yield(:title) : "E-Wykładowca"
    = csrf_meta_tags
    
    = stylesheet_link_tag "application", :media => "all"

  %body{ class: ["controller_#{controller.controller_name}", "action_#{controller.action_name}"].join(" ") }
    = render partial: "shared/header"
    .container.container_pad
      = render "shared/flashes"
      = yield
      %footer.footer
        All rights reserved 2012
        %b E-Wykładowca

    = javascript_include_tag "https://maps.googleapis.com/maps/api/js?sensor=false"
    = javascript_include_tag "application"
